<form method="POST">
    <label for="isbn">ISBN:</label>
    <input name="isbn" id="isbn">
    <input type="hidden" name="field" value="isbn">
    <input type="submit"> 
</form>
<form method="POST">
    <label for="title">Title:</label>
    <input name="title" id="title">
    <input type="hidden" name="field" value="title">
    <input type="submit">
</form>
<form method="POST">
    <label for="author">Author:</label>
    <input name="author" id="author">
    <input type="hidden" name="field" value="author">
    <input type="submit">
</form>